In [1]:
import numpy as np 
import pandas as pd

In [2]:
df = pd.read_csv('/kaggle/input/12000-data-science-jobs-in-the-india/naukri_data_science_jobs_india.csv', index_col = ['Job_Role'])

df.head()

df.sort_index(inplace = True, ascending = False)

In [3]:
df

,Company,Location,Job Experience,Skills/Description
Job_Role,,,,
urgent requirement For data scientist,Orcapod Consulting Services Private Limited,Hyderabad/Secunderabad,4-6,"git, written communication, unit testing, obje..."
urgent hiring For data engineers - bang / any,Experis IT Private Limited,"Bangalore/Bengaluru, any",3-5,"hive, cloudera, python, NoSQL, spark, Cassadra..."
senior python developer,Talent Zone Consultant,Bangalore/Bengaluru,8-10,"Performance tuning, Automation, Backend, HP da..."
senior bigdata engineer or data architect,Rectras Business Solutions Pvt Ltd.,"Pune, Chennai, Bengaluru",4-9,"Automation, Data analysis, Prototype, Applicat..."
senior Data Analyst,Spectral Consultants,Pune,2-5,"Logistic regression, Data analysis, Factor ana..."
...,...,...,...,...
A fabulous opportunity For AWS Data Engineer(L3)in a 22 years old MNC,Wissen Infotech,"Hyderabad/Secunderabad, Bangalore/Bengaluru",3-8,"Data Engineering, Spark, AWS, Lambda, S3, AWS ..."
A Data Scientists,CareerXperts Consulting,Pune,2-5,"Computer science, Data analysis, Operations re..."
15-20 days notice only | Senior Data Engineer | Python/SQL/AWS/Linux,Cians Analytics Pvt. Ltd.,Gurgaon/Gurugram,2-7,"SQL, Linux, Python, S3, Airflow, Pyspark, Bash..."
.NET Developer,Snaphunt,Surat,0-5,".Net, Javascript, C#, HTML, ASP Net, SQL, anal..."
.1787_Data Scientist _Bangalore,Sigma Allied Services private Limited,Bangalore/Bengaluru,2-5,"Data Science, Predictive Modeling, R, Neural N..."

In [4]:
df.iloc[0]

Company                     Orcapod Consulting Services Private Limited
Location                                         Hyderabad/Secunderabad
Job Experience                                                      4-6
Skills/Description    git, written communication, unit testing, obje...
Name: urgent requirement For data scientist, dtype: object

In [5]:
df.iloc[[0,10,100,1000]]

,Company,Location,Job Experience,Skills/Description
Job_Role,,,,
urgent requirement For data scientist,Orcapod Consulting Services Private Limited,Hyderabad/Secunderabad,4-6,"git, written communication, unit testing, obje..."
lead software engineer,Smart4talent,"Hyderabad, Gurgaon",7-9,"Product management, GIT, NoSQL, Functional tes..."
Value Optimization Analyst,Corning Technologies,Gurgaon/Gurugram,3-5,"Supply chain, Qualitative research, GSM, Data ..."
Sr . Product Designer,jupiter,Bangalore/Bengaluru,3-7,"Product Strategy, Front End, Product Manager, ..."

In [6]:
df.iloc[10:20]

,Company,Location,Job Experience,Skills/Description
Job_Role,,,,
lead software engineer,Smart4talent,"Hyderabad, Gurgaon",7-9,"Product management, GIT, NoSQL, Functional tes..."
job opening For data engineers -Noida,Experis IT Private Limited,"Bangalore/Bengaluru, any",3-5,"Airflow, python, etl, nosql, Hive, CICD, Oozie..."
iOS Sr . Developer,Xemplar Insights,Hyderabad/Secunderabad,14-19,"Computer science, Architecture, SOC, MySQL, Sh..."
engineer sdg,DATA PATTERNS (I) PVT LTD,Chennai,2-3,"development, device driver, eee, driver, vxwor..."
data scientist - biotechnology Jobs,Right Step Consulting,Delhi,2-5,"Mining, Evaluation, Data analysis, Analytical,..."
data scientist,Global Talent Pool,Bangalore/Bengaluru,0-2,"Computer vision, Data analysis, data science, ..."
data scientist,Ankit Bhatnagar Consultant,Pune,2-5,"excel, 524, power bi, sql"
data science(R),FUTURES AND CAREERS,Bangalore/Bengaluru,4-9,"IT Skills, Data Science, Machine Learning, Big..."
data science analyst,CRED,Bangalore/Bengaluru,1-3,"Analytical skills, Health insurance, data scie..."
data engineers,Disha Consultants,Jaipur,3-5,"business intelligence reporting, Business anal..."